{% extends 'mall/base.html' %}
{% block title %}
<title> 关于我们 </title>
{% endblock %}
{% block content %}
<!--slider area start-->
<div class="new_slide_mix_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sl_new_contnt">
                    <div class="sl_heading">
                        <h2>关于我们</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--inner area start-->
<section class="new_inner_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_heading">
                    <h2>企业简介</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="inner_cotent">
                    <p>京东坚守“正道成功”的价值取向，坚定地践行用合法方式获得商业成功，
                        致力于成为一家为社会创造最大价值的公司。自创立之初，
                        京东就秉持诚信经营的核心理念，坚守正品行货、倡导品质经济，
                        成为中国备受消费者信赖的零售平台；京东坚定“客户为先”的服务理念，
                        大力发展自建物流，保障用户体验，成为领先全球的新标杆；依托于所有
                        京东人的拼搏和激情，京东持续十五年保持接近140%的年均复合增长率。
                        京东以丰富的应用场景和精准的大数据为根基，
                        创新性地在数字科技等领域大胆探索，一次又一次地创造了发展奇迹！</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="inner_cotent">
                    <p>京东于2004年正式涉足电商领域，2018年，京东集团市场交易额接近1.7万亿元*。
                        2018年7月，京东第三次入榜《财富》全球500强，位列第181位，在全球仅次于亚
                        马逊和Alphabet，位列互联网企业第三。 2014年5月，京东集团在美国纳斯达
                        克证券交易所正式挂牌上市，是中国第一个成功赴美上市的大型综合型电商平台。
                        2015年7月，京东凭借高成长性入选纳斯达克100指数和纳斯达克100平均加权指数。</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="inner_cotent">
                    <p>多项业务全面发展，深化布局“零售+零售基础设施服务”
2017年，京东对零售未来趋势做出终极判断——无界零售，在“场景无限、货物无边、人企无间”的无界零售图景中，京东将自身大量资源、技术和服务能力模块化，通过这些积木模块对外服务，以开放、共生、互生、再生的理念开展产业布局，积极向“零售+零售基础设施服务商”转型，致力于与合作伙伴一起，在“知人”、“知场”、“知货”的基础上重新定义成本、效率、体验。未来，京东将从“一体化”走向“一体化的开放”，全面服务合作伙伴，在无界零售的场景下共同创造新的价值。

目前，京东集团业务已涉及零售、数字科技、物流、健康、保险、物流地产、云计算、AI和海外等领域，其中核心业务为零售、数字科技、物流三大板块</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--inner area end-->
<!--about our team area start-->
<section class="about_our_team_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="our_team_new_head">
                    <h2>About Our Team</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="all_team_membar">
                <div class="col-md-4">
                    <div class="team_member_pic">
                        <img src="../../static/img/team-pic/team-small-1.png" alt="">
                    </div>
                    <div class="team_new_cntnt">
                        <h3 style="text-align: center;">Nick Monroe</h3>
                        <h4 style="text-align: center;">Human Resources</h4>
                        <p style="text-align: center;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                            veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team_member_pic">
                        <img src="../../static/img/team-pic/team-small-2.png" alt="">
                    </div>
                    <div class="team_new_cntnt">
                        <h3 style="text-align: center;">Nick Monroe</h3>
                        <h4 style="text-align: center;">Human Resources</h4>
                        <p style="text-align: center;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                            veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team_member_pic">
                        <img src="../../static/img/team-pic/team-small-3.png" alt="">
                    </div>
                    <div class="team_new_cntnt">
                        <h3 style="text-align: center;">Nick Monroe</h3>
                        <h4 style="text-align: center;">Human Resources</h4>
                        <p style="text-align: center;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                            veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--about our team area end-->
<!--skill area start-->
<div class="dev_skill_area">
    <div class="container">
        <div class="row">
            <div class="all_skill">
                <div class="col-md-6">
                    <div class="team_new_cntnt team_new_cntnt_2">
                        <h3>Our Skills</h3>
                        <h4>Ut enim ad minim veniam, quis nostrud exerctation ullamco .</h4>
                        <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.Lorem ipsum dolor sit
                            amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                            felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                    </div>
                </div>
                <!--progress area start-->
                <div class="col-md-6">
                    <div class="we-are-good-at">
                        <div class="skill">
                            <!-- PROGRESS START -->
                            <div class="progress">
                                <div class="lead">Development 90%</div>
                                <div class="progress-bar animated  fadeInLeft" data-progress="90%"
                                     style="width: 90%;"></div>
                            </div>
                            <!-- PROGRESS END -->
                            <!-- PROGRESS START -->
                            <div class="progress">
                                <div class="lead">Design 80%</div>
                                <div class="progress-bar animated  fadeInLeft" data-progress="80%"
                                     style="width: 80%;"></div>
                            </div>
                            <!-- PROGRESS END -->
                            <!-- PROGRESS START -->
                            <div class="progress">
                                <div class="lead">HTML5 & CSS3 80%</div>
                                <div class="progress-bar animated  fadeInLeft" data-progress="80%"
                                     style="width: 80%;"></div>
                            </div>
                            <!-- PROGRESS END -->
                            <!-- PROGRESS START -->
                            <div class="progress">
                                <div class="lead">Marketing 70%</div>
                                <div class="progress-bar animated  fadeInLeft" data-progress="70%"
                                     style="width: 70%;"></div>
                            </div>
                            <div class="progress">
                                <div class="lead">WORDPRESS 90%</div>
                                <div class="progress-bar animated  fadeInLeft" data-progress="90%"
                                     style="width: 90%;"></div>
                            </div>
                            <!-- PROGRESS END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--progress area end-->
{% endblock %}


		







