{% extends 'mall/base.html' %}
{% block title %}
<title> 购物车 </title>
{% endblock %}
{% block content %}
 <!-- shop area start-->
<div class="shop_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="shop_menu">
                    <ul class="cramb_area cramb_area_2 ">
                        <li><a href="{% url 'mall:index' %}">首页 /</a></li>
                        <li><a href="#">购物车</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop area end-->
<div class="shopping_cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="account_heading account_heading_ah">
                    <h1>购物车</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="all_wis_frm">
                <div class="col-md-12">
                    <div class="wishlist-content wishlist-content-2">
                        <form action="#">
                            <div class="wishlist-table wishlist-table-2 table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-remove"><span class="nobr"></span></th>
                                            <th class="product-thumbnail product-thumbnail-2"></th>
                                            <th class="product-name product-name_2"><span class="nobr">商品名</span></th>
                                            <th class="product-price"><span class="nobr"> 价格 </span></th>
                                            <th class="product-stock-stauts"><span class="nobr"> 数量 </span></th>
                                            <th class="product-add-to-cart"><span class="nobr">总计</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="product-remove product-remove_2"><a href="#">X</a></td>
                                            <td class="product-thumbnail product-thumbnail-2"><a href="#"><img src="../../static/img/wishlist/pic-1.jpg" alt="" /></a></td>
                                            <td class="product-name product-name_2"><a href="#">Duis convallis</a></td>
                                            <td class="product-price"><span class="amount-list amount-list-2">$100.00</span></td>
                                            <td class="product-stock-status">
                                                <div class="latest_es_from_2">
                                                    <input type="number" value="1">
                                                </div>
                                            </td>
                                            <td class="product-price"><span class="amount-list amount-list-2">$100.00</span></td>
                                        </tr>
                                        <tr>
                                            <td class="product-remove product-remove_2"><a href="#">X</a></td>
                                            <td class="product-thumbnail product-thumbnail-2"><a href="#"><img src="../../static/img/wishlist/pic-2.jpg" alt="" /></a></td>
                                            <td class="product-name"><a href="#">Adipiscing cursus eu</a></td>
                                            <td class="product-price"><span class="amount-list amount-list-2">$300.00</span></td>
                                            <td class="product-stock-status">
                                                <div class="latest_es_from_2">
                                                    <input type="number" value="1">
                                                </div>
                                            </td>
                                            <td class="product-price"><span class="amount-list amount-list-2">$100.00</span></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="6">
                                                <div class="coupon">
                                                    <label for="coupon_code"></label>
                                                    <input id="coupon_code" class="input-text" type="text" placeholder="优惠码" value="" name="coupon_code">
                                                    <a class="button_act button_act_3 button_act_333 button_act_tp " href="#">使用优惠券</a>
                                                    <a class="button_act btn-tip " href="#">刷新</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="cart_totals ">
                                    <h2>Cart Totals</h2>
                                    <table class="shop_table shop_table_responsive">
                                        <tbody>
                                            <tr class="cart-subtotal">
                                                <th>Subtotal</th>
                                                <td data-title="Subtotal">
                                                    <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">$</span>
                                                    800.00
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr class="order-total">
                                                <th>Total</th>
                                                <td data-title="Total">
                                                    <strong>
                                                    <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">$</span>
                                                    800.00
                                                    </span>
                                                    </strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="wc-proceed-to-checkout">
                                        <a class="button_act button_act-tc " href="#">去结账</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}





		
		
		
		
