{% extends 'mall/base.html' %}
{% load my_func %}
{% block title %}
<title> 联系我们 </title>
{% endblock %}
{% block content %}
<!-- googleMap-area-start -->
        <div id="googleMap"></div>
        <!-- googleMap-end -->
        <!-- comnt_area start -->
        <div class="comnt_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="all_cntnt">
                            <div class="frm_content frm_content_2">
                                <h2>Leave a comments</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis sed neque vitae bibendum. Nunc auctor dictum risus, a finibus eros iaculis nec. Sed et euismod felis, non euismod est. Maecenas quis nulla ullamcorper, imperdiet lacu</p>
                            </div>
                            <form class="side_right">
                                <div class="al_form-fields al_form-fields-2">
                                    <p>
                                        Your Name (required)
                                        <input type="text">
                                    </p>
                                    <p>
                                        Your Email (required)
                                        <input type="password">
                                    </p>
                                    <p>
                                        Comment
                                        <br>
                                        <span class="wpcf7-form-control-wrap your-message">
                                        <textarea class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-invalid="false" aria-required="true" rows="10" cols="40" name="your-message"></textarea>
                                        </span>
                                    </p>
                                    <p>* Required Fields</p>
                                </div>
                                <div class="form-action form-action-2">
                                    <div class="new_act new_act_3">
                                        <a class="button_act button_act_3" href="#">Send</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="all_cntnt">
                            <div class="frm_content frm_content_2">
                                <h2>Contact details</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis sed neque vitae bibendum. Nunc auctor dictum risus, a finibus eros iaculis nec. Sed et euismod felis, non euismod est. Maecenas quis nulla ullamcorper, imperdiet lacu</p>
                                <h2>OFFICE ADDRESS</h2>
                                <p>Maecenas quis nulla ullamcorper</p>
                                <h2>EMAIL</h2>
                                <p>lion-themes@gmail.com</p>
                                <h2>PHONE NUMBER</h2>
                                <p>025 1234 5678 – 025 1234 5779</p>
                                <h2>TIME HOURS</h2>
                                <p>Monday to Friday: 10am to 7pm <br>
                                    Saturday: 10am to 4pm <br>
                                    Sunday: 12am to 4pm
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- comnt_area end -->

        <!-- googleapis -->
        <script src="http://ditu.google.cn/maps/api/js"></script>
        <script type="text/javascript">
            /* Google Map js */
            function initialize() {
              var mapOptions = {
            	zoom: 15,
            	scrollwheel: false,
            	center: new google.maps.LatLng(23.810332, 90.412518)
              };

              var map = new google.maps.Map(document.getElementById('googleMap'),
            	  mapOptions);

              var marker = new google.maps.Marker({
            	position: map.getCenter(),
            	animation:google.maps.Animation.BOUNCE,
            	icon: 'img/contact-us/map.png',
            	map: map
              });

            }
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
{% endblock %}



