{% extends 'mall/base.html' %}
{% block title %}
<title> 商品列表页 </title>
{% endblock %}
{% block content %}
<div class="shop_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="shop_menu">
                            <ul class="cramb_area cramb_area_5">
                                <li><a href="{% url 'mall:index' %}">首页 /</a></li>
                                <li class="br-active"><a href="#">商店</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--bar area start-->
                <div class="row">
                    <div class="col-md-3">
                        <div class="category-widget-menu">
                            <h2 class="cat-menu-title text-uppercase">分类</h2>
                            <div class="menu-categories-container">
                                <ul class="menu-categories">
                                    {% for category in categorys %}
                                    <li><a href="#">{{category.title}}</a></li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="category-widget-menu">
                                    <h2 class="cat-menu-title text-uppercase">size</h2>
                                    <div class="menu-categories-container">
                                        <ul class="menu-categories">
                                            <li><a href="#">L (1)</a></li>
                                            <li><a href="#">M (1)</a></li>
                                            <li><a href="#">S (1)</a></li>
                                            <li><a href="#">XL (1)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="category-widget-menu">
                                    <h2 class="cat-menu-title text-uppercase">color</h2>
                                    <div class="menu-categories-container">
                                        <ul class="menu-categories">
                                            <li><a href="#">Gold (1)</a></li>
                                            <li><a href="#">Green (1)</a></li>
                                            <li><a href="#">White (1)</a></li>
                                            <li><a href="#">Yellow (1)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="single-sidebar-dr">
                                    <aside class="single-sidebar">
                                        <h3>Filter By Price</h3>
                                        <div class="info_widget">
                                            <div class="price_filter">
                                                <div id="slider-range"></div>
                                                <div class="price_slider_amount">
                                                    <input type="text" id="amount" name="price"  placeholder="Add Your Price">
                                                </div>
                                                <div class="amount-range">
                                                    <p>Price:</p>
                                                    <input type="submit"  value="Filter">
                                                </div>
                                            </div>
                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="single-sidebar-dr">
                                    <aside class="single-sidebar single-sidebar-2 single-sidebar-c3 ">
                                        <h3>Compare</h3>
                                        <ul class="products-list" data-lang="">
                                            <li class="list_empty">No products to compare</li>
                                        </ul>
                                        <div class="amount-range">
                                            <a class="clear-all" href="#" data-product_id="all">Clear all</a>
                                            <input type="submit" value="COMPARE">
                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="single-sidebar-dr">
                                    <aside class="single-sidebar single-sidebar-vg">
                                        <h3>Products Tags</h3>
                                        <div class="compare_content compare_content_2">
                                            <div class="new_tag">
                                                <a href="#">Clothing</a>
                                                <a href="#">Enim</a>
                                                <a href="#">Fashion</a>
                                                <a href="#">Glasses</a>
                                                <a href="#">Hats</a>
                                                <a href="#">Hoodies</a>
                                            </div>
                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="category-widget-menu">
                                    <h2 class="cat-menu-title text-uppercase">On Sale</h2>
                                    <div class="all-pros-ex all-pros-ex-2">
                                        <div class="llc_pro">
                                            <div class="sinle_pic_3">
                                                <a href="#">
                                                <img class="primary-img" src="../../static/img/product-pic/product_pic_7.jpg" alt="" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product_content_2">
                                            <div class="usal_pro">
                                                <div class=" product_name_new">
                                                    <h2>
                                                        <a href="#">Cras nec nisl ut era</a>
                                                    </h2>
                                                </div>
                                                <div class="product_price product_price_new product_price_new_3">
                                                </div>
                                                <div class="price_box price_box_new price_box_new_3">
                                                    <span class="old- price old- price-3">$250.00</span>
                                                    <span class="spical-price">$200.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="all-pros-ex all-pros-ex-2">
                                        <div class="llc_pro">
                                            <div class="sinle_pic_3">
                                                <a href="#">
                                                <img class="secondary-img" src="../../static/img/top-pic/top_pic_7.jpg" alt="" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product_content_2">
                                            <div class="usal_pro">
                                                <div class=" product_name_new">
                                                    <h2>
                                                        <a href="#">Metus nisi posuere n</a>
                                                    </h2>
                                                </div>
                                                <div class="product_price product_price_new product_price_new_3">
                                                </div>
                                                <div class="price_box price_box_new price_box_new_3">
                                                    <span class="old- price old- price-3">$250.00</span>
                                                    <span class="spical-price">$200.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="all-pros-ex all-pros-ex-2">
                                        <div class="llc_pro">
                                            <div class="sinle_pic_3">
                                                <a href="#">
                                                <img class="primary-img" src="../../static/img/top-pic/top_pic_1.jpg" alt="" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product_content_2">
                                            <div class="usal_pro">
                                                <div class=" product_name_new">
                                                    <h2>
                                                        <a href="#">Nam fringilla</a>
                                                    </h2>
                                                </div>
                                                <div class="product_price product_price_new product_price_new_3">
                                                </div>
                                                <div class="price_box price_box_new price_box_new_3">
                                                    <span class="old- price old- price-3">$200.00</span>
                                                    <span class="spical-price">$150.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="bar">
                            <p class="result_show">Showing 1–15 of 21 results</p>
                            <div class="bar_box">
                                <form action="#">
                                    <select>
                                        <option value="Default sorting">Default sorting</option>
                                        <option value="Sort by popularity">Sort by popularity</option>
                                        <option value="Sort by average rating">Sort by average rating</option>
                                        <option value="Sort by newness">Sort by newness</option>
                                        <option value="Sort by price: low to high">Sort by price: low to high</option>
                                        <option value="Sort by price: low to low">Sort by price: low to low</option>
                                    </select>
                                </form>
                            </div>
                            <div class="right_area">
                                <!-- Nav tabs -->
                                <ul class="retabs" role="tablist">
                                    <li role="presentation"><a href="#home" role="tab" data-toggle="tab"><i class="fa fa-th"> 网格</i></a></li>
                                    <li role="presentation" class="active"><a href="#profile" role="tab" data-toggle="tab"><i class="fa fa-list"> 列表</i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="home">
                                <div class="row">
                                    {% for product in products %}
                                    <div class="col-md-4 col-sm-4">
                                        <div class="all-pros all-pros-2 all-pros-latest">
                                            <div class="single_product single_product_2">
                                                <span>热销</span>
                                            </div>
                                            <div class="sinle_pic">
                                                <a href="#">
                                                <img class="primary-img" src="/media/{{product.img}}" alt="" />
                                                <img class="secondary-img" src="/media/{{product.img}}" alt="" />
                                                </a>
                                            </div>
                                            <div class="product-action" data-toggle="modal" data-target="#myModal">
                                                <button type="button" class="btn btn-info btn-lg quickview" data-toggle="tooltip" title="Quickview">预览</button>
                                            </div>
                                            <div class="product_content">
                                                <div class="usal_pro">
                                                    <div class="product_name_2">
                                                        <h2>
                                                            <a href="#">{{product.name}}</a>
                                                        </h2>
                                                    </div>
                                                    <div class="product_price">
                                                        <div class="price_rating">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#">
                                                            <i class="fa fa-star"></i>
                                                            </a>
                                                            <a href="#"><i class="fa fa-star"></i>
                                                            </a>
                                                            <a class="not-rated" href="#">
                                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="price_box">
                                                        <span class="spical-price">{{product.price}}</span>
                                                    </div>
                                                    <div class="last_button_area">
                                                        <ul class="add-to-links clearfix">
                                                            <li class="addwishlist">
                                                                <div class="yith-wcwl-add-button show" >
                                                                    <a class="add_to_wishlist" href="" rel="nofollow" data-product-id="45" data-product-type="external" data-toggle="tooltip" title="" data-original-title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="new_act">
                                                                    <a class="button_act" data-quick-id="45" href="" title="" data-toggle="tooltip" data-original-title="Donec non est at">加入购物车</a>
                                                                </div>
                                                            </li>
                                                            <li class="addcompare">
                                                                <div class="woocommerce product compare-button">
                                                                    <a class="compare button" href="" data-product_id="45" rel="nofollow" data-toggle="tooltip" title="" data-original-title="Compare"><i class="fa fa-refresh"></i></a>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     {% endfor %}
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="profile">
                                <div class="row">
                                    {% for product in products %}
                                    <div class="col-md-12">
                                        <div class="all-pros br-ntf">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4 pl pr">
                                                    <div class="sngl-pro">
                                                        <div class="single_product single_product_2 single_product_3rd">
                                                            <span>热销</span>
                                                        </div>
                                                        <div class="sinle_pic sngl-pc sinle_pic_2xd">
                                                            <a href="{% url 'mall:simple' product.id %}">
                                                            <img class="primary-img" src="/media/{{product.img}}" alt="" />
                                                            <img class="secondary-img" src="/media/{{product.img}}" alt="" />
                                                            </a>
                                                        </div>
                                                        <div class="product-action" data-toggle="modal" data-target="#myModal">
                                                            <button type="button" class="btn btn-info btn-lg quickview quickview_2" data-toggle="tooltip" title="Quickview">预览</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 col-sm-8 pl pr">
                                                    <div class="product_content product_content_nx">
                                                        <div class="usal_pro">
                                                            <div class="product_name_2 product_name_3 prnm">
                                                                <h2>
                                                                    <a href="#">{{product.name}}</a>
                                                                </h2>
                                                                <div class="pro_discrip">
                                                                    {{product.desc}}
                                                                </div>
                                                            </div>
                                                            <div class="action actionmm">
                                                                <div class="product_price product_price_tz">
                                                                    <div class="price_rating">
                                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                                        <a href="#">
                                                                        <i class="fa fa-star"></i>
                                                                        </a>
                                                                        <a href="#">
                                                                        <i class="fa fa-star"></i>
                                                                        </a>
                                                                        <a href="#">
                                                                        <i class="fa fa-star"></i>
                                                                        </a>
                                                                        <a class="not-rated" href="#"><i class="fa fa-star-o" aria-hidden="true"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="price_box price_box_tz">
                                                                    <span class="spical-price">{{product.price}}</span>
                                                                </div>
                                                                <div class="last_button_area">
                                                                    <ul class="add-to-links clearfix">
                                                                        <li>
                                                                            <div class="new_act">
                                                                                <a class="button_act button_act_2 button_act_hts" data-quick-id="45" href="" title="" data-toggle="tooltip" data-original-title="Donec non est at">加入购物车</a>
                                                                            </div>
                                                                        </li>
                                                                        <li class="addwishlist">
                                                                            <div class="yith-wcwl-add-button  show" >
                                                                                <a class="add_to_wishlist_3 add_to_wishlist_tz" href="" rel="nofollow" data-product-id="45" data-product-type="external" data-toggle="tooltip" title="" data-original-title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                                            </div>
                                                                        </li>
                                                                        <li class="addcompare">
                                                                            <div class="woocommerce product compare-button">
                                                                                <a class="compare_3 compare_3r button" href="" data-product_id="45" rel="nofollow" data-toggle="tooltip" title="" data-original-title="Compare"><i class="fa fa-refresh"></i></a>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="navi_area">
                                        <ul>
                                            <li class="active-2">
                                                <a href="#">1</a>
                                            </li>
                                            <li>
                                                <a href="#">2</a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                <i class="fa fa-angle-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--shop area end-->
        <!--brand area start-->
        <div class="logo_area">
            <div class="container">
                <div class="row">
                    <div class="brand brand-2">
                        <div class="new_product">
                            <div class="product_heading product_heading_tf">
                                <i class="fa fa-coffee"></i>
                                <span>品牌标志</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="main_brand main_brand_tf">
                            <div class="all_brand indicator-brand indicator-brand-7">
                                <div class="col-md-12">
                                    <div class="brand_pix">
                                        <img src="../../static/img/brand-logo/logo_1.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="brand_pix">
                                        <img src="../../static/img/brand-logo/logo_2.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="brand_pix">
                                        <img src="../../static/img/brand-logo/logo_3.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="brand_pix">
                                        <img src="../../static/img/brand-logo/logo_4.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="brand_pix">
                                        <img src="../../static/img/brand-logo/logo_5.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="brand_pix">
                                        <img src="../../static/img/brand-logo/logo_6.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="brand_pix">
                                        <img src="../../static/img/brand-logo/logo_3.jpg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--brand area end-->
        <!--modal content start-->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-dialog-2">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">
                            {% for product in products  %}
                            <div class="row">
                                <div class="new_port new_port_2">
                                    <div class="port_pix">
                                        <img src="/media/{{product.img}}" alt="">
                                    </div>
                                </div>
                                <div class="elav_titel elav_titel_2">
                                    <div class="elv_heading elv_heading_therteen">
                                        <h3>{{product.name}}</h3>
                                    </div>
                                    <div class="elav_info">
                                        <div class="price_box price_box_pb">
                                            <span class="spical-price spical-price-nk">{{product.price}}</span>
                                        </div>
                                        <form class="cart-btn-area cart-btn-area-dec" action="#">
                                            <a class="see-all" href="#">See all features</a><br>
                                            <input type="number" value="1">
                                            <button class="add-tocart add-tocart-2" type="submit">加入购物车</button>
                                        </form>
                                    </div>
                                    <div class="evavet_description evavet_description_dec">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere metus vitae arcu imperdiet, id aliquet ante scelerisque. Sed sit amet sem vitae urna fringilla tempus.</p>
                                    </div>
                                    <div class="elavetor_social">
                                        <h3 class="widget-title">分享</h3>
                                        <br>
                                        <ul class="social-link social-link-bbt">
                                            <li><a class="fb" data-original-title="facebook" href="#" title="" data-toggle="tooltip"><i class="fa fa-facebook"></i></a></li>
                                            <li><a class="twit" data-original-title="twitter" href="#" title="" data-toggle="tooltip"><i class="fa fa-twitter"></i></a></li>
                                            <li><a class="pinter" data-original-title="pinterest" href="#" title="" data-toggle="tooltip"><i class="fa fa-pinterest"></i></a></li>
                                            <li><a class="google+" href="#" title="Google+" data-target="#productModal" data-toggle="tooltip"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a class="lindin" href="#" title="LinkedIn" data-target="#productModal" data-toggle="tooltip"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal content end-->
{% endblock %}





