{% extends 'mall/base.html' %}
{% block title %}
<title> 我的账户 </title>
{% endblock %}
{% block content %}
<!-- shop area start-->
<div class="shop_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="shop_menu shop_menu_tk ">
                    <ul class="cramb_area cramb_area_2 cramb_area_ktp">
                        <li><a href="{% url 'mall:index' %}">首页 /</a></li>
                        <li><a href="#">我的账户</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop area end-->
<!--my account area start-->
<div class="my_account_area">
    <div class="container">
        {{errors}}
        <div class="row">
            <div class="col-md-12">
                <div class="account_heading">
                    <h1>我的账户</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="all_cntnt">
                    <div class="frm_content">
                        <h2>登录</h2>
                    </div>
                    <form method="post" action="{% url 'mall:login' %}">
                        {% csrf_token %}
                        <div class="al_form-fields">
                            <p>
                                <label>
                                用户名或邮箱
                                <span class="required">*</span>
                                </label>
                                <input type="text" name="username" id="username">
                            </p>
                            <p>
                                <label>
                                密码
                                <span class="required">*</span>
                                </label>
                                <input type="password" name="password" id="password">
                            </p>
                        </div>
                        <div class="form-action">
                            <div class="new_act new_act_3">
                                <button class="button_act button_act_3" type="submit">登录</button>
                                <label>
                                <input type="checkbox">
                                记住密码
                                </label>
                            </div>
                            <p class="lost_password">
                                <a href="#">忘记密码？</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="all_cntnt">
                    <div class="frm_content">
                        <h2>注册</h2>
                    </div>
                    <form method="post" action="">

                        <div class="al_form-fields">
                            <p>
                                <label>
                                用户名或邮箱
                                <span class="required">*</span>
                                </label>
                                <input type="text" name="username" id="registusername">
                            </p>
                            <p>
                                <label>
                                密码
                                <span class="required">*</span>
                                </label>
                                <input type="password"name="password" id="registpassword">
                            </p>
                        </div>
                        <div class="form-action">
                            <div class="new_act new_act_3">
                                <button class="button_act button_act_3" type="submit">注册</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="new-meta">
            <a class=" btn btn-default btn-default-tf" href="">
            <i class="fa fa-pencil"></i>
            </a>
        </div>
    </div>
</div>
<!--my account area end-->
{% endblock %}
		





